_mkc_*
*.o
*.os
*.done
*.a
*.so.*
*.so
*~

# programs and intermediary files
apply/apply
asa/asa
banner/banner
base64/base64
basename/basename
cal/cal
cat/cat
chmod/chmod
chown/chown
chroot/chroot
cksum/cksum
cmp/cmp
col/col
colcrt/colcrt
colrm/colrm
column/column
comm/comm
compatlib/imp_parsedate.c
compress/compress
cp/cp
csplit/csplit
ctags/ctags
cut/cut
date/date
dd/dd
deroff/deroff
dirname/dirname
domainname/domainname
du/du
echo/echo
ed/ed
env/env
error/error
expand/expand
expr/expr
expr/expr.c
fgen/fgen
fgen/fgen.c
find/find
flock/flock
fmt/fmt
fold/fold
fpr/fpr
from/from
fsplit/fsplit
getconf/getconf
getopt/getopt
grep/grep
head/head
hexdump/hexdump
hostname/hostname
id/id
join/join
jot/jot
kill/kill
lam/lam
leave/leave
ln/ln
logname/logname
look/look
ls/ls
m4/m4
m4/parser.c
m4/parser.h
m4/tokenizer.c
menuc/menuc
menuc/parse.c
menuc/parse.h
menuc/scan.c
mkdep/mkdep
mkdir/mkdir
mkfifo/mkfifo
mknod/mknod
mkstr/mkstr
mktemp/mktemp
msgc/msgc
msgc/msgparse.c
msgc/msgparse.h
msgc/msgscan.c
mtree/mtree
mv/mv
nawk/bin/awk
nawk/bin/awkgram.c
nawk/bin/awkgram.h
netbsd_9.3.diff
nice/nice
nl/nl
nohup/nohup
paste/paste
patch/patch
pathchk/pathchk
pax/pax
pr/pr
printenv/printenv
printf/printf
progress/progress
pwd/pwd
qsubst/qsubst
renice/renice
rev/rev
rm/rm
rmdir/rmdir
rs/rs
script/script
sdiff/sdiff
sed/sed
seq/seq
shlock/shlock
shuffle/shuffle
sleep/sleep
soelim/soelim
sort/sort
spell/spell/spell
spell/spellprog/spellprog
split/split
sync/sync
tabs/tabs
tail/tail
tee/tee
testcmd/testcmd
timeout/timeout
tr/tr
tsort/tsort
tty/tty
ul/ul
unexpand/unexpand
unifdef/unifdef
uniq/uniq
unvis/unvis
uudecode/uudecode
uuencode/uuencode
vacation/vacation
vis/vis
wc/wc
what/what
whereis/whereis
whois/whois
xargs/xargs
xinstall/xinstall
xstr/xstr
yes/yes
